#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


.vertical-text {
  display: inline
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.125);
  }
h1 {
  font-size: 3.75em;
  margin-bottom: 0px;
}
.card {
  border-radius: 0%;
}
.card-img-top{
  border-radius: 0%;
}
.edu-header{
  font-size: 3vw;
}
.black-text{
  color:#000;
}
.garamond{
  font-family: 'Cormorant Garamond', serif;
  
}
.roboto{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  line-height: 175%;
}
.roboto-about-1 {
  font-family: 'Roboto', sans-serif;
  font-size:1.75rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  line-height: 175%;
}
.roboto-about-3 {
  font-family: 'Roboto', sans-serif;
  font-size:1rem;
  font-weight: 300;
  letter-spacing: 4px;
  text-align: center;
  line-height: 175%;
  color: #6e6e6e;
}
.roboto-about-2 {
  font-family: 'Roboto', sans-serif;
  font-size:1.3rem;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
  line-height: 175%;
}
.roboto-hero {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: 4px;
}
.white-bg{
  background-color: #FFF;
}
.black-bg{
  background-color: #000;
}

/* Nav */

.logo{
    height: 30px;
    position: relative;
  }
.logo-box-left{
  float: left;
  background:#fff;
  height: 30px;
  width: 30px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #000;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #000;
}
nav {
  background-color:white;
  /*border-bottom: 2px solid black;*/
}

  /* Hamburger */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}
.hamburger {
  height:80%;
}
.navbar-toggler span {
   display: block;
   background-color: #000;
   height: 1px;
   width: 25px;
   margin-top: 6px;
   margin-bottom: 6px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 10px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    top: -14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.underbar a {position: relative;}
.underbar a:after {content:""; display:block; position:absolute; left:0; bottom:5px; width:100%; height:1px; background-color:#555; transform:scaleX(0); transform-origin:center; transition:.45s;}
.underbar a:hover::after{transform: scaleX(1);}

.navbar-nav a:hover{color:#000}


/* Carousel */
.carousel-item {
  width:100%;
  height:100%;
}
.main-text
{
    position: absolute;
    top: 40%;
    width: 96.66666666666666%;
    color: #FFF;
}
.hero-name::before {
  content: "";
  display: block;
  height: 1px;
  width: 8%;
  position: absolute;
  background-color: #FFF;
  left: 19.5%;
  top: 34px;
  
}
.hero-name::after {
  content: "";
  display: block;
  height: 1px;
  width: 8%;
  position: absolute;
  background-color: #FFF;
  right: 19.5%;
  top: 34px;
  
}

.mid-line{
  display:block;
  height: 1px;
  width:35%;
  margin-bottom: .75rem;
  margin-left: auto;
  margin-right: auto;
}
.patagonia{
  background-image: url('images/patagonia-dark.png');
  background-position: center center;
  background-size: cover;
  height:700px;
  width:100%;
}
.namib{
  background-image: url('images/Namib-dark.png');
  background-position: center center;
  background-size: cover;
  height:700px;
  width:100%;
}
.lake{
  background-image: url('images/lake-dark.png');
  background-position: center center;
  background-size: cover;
  height:700px;
  width:100%;
}

/* About Section */
.name::before {
  content: "";
  display: block;
  height: 1px;
  width: 8%;
  position: absolute;
  background-color: #000;
  left: 16%;
  top: 34px;
}
.name::after {
  content: "";
  display: block;
  height: 1px;
  width: 8%;
  position: absolute;
  background-color: #000;
  right: 16%;
  top: 34px;
}
.headshot {
  height: 300px;
  width:300px;
  border-radius: 100%;
}
.space {
  width:100%;
  height:50px;
}

/* Work Section */
.work-name::before {
  content: "";
  display: block;
  height: 1px;
  width: 7%;
  position: absolute;
  background-color: #000;
  left: 30%;
  top: 34px;
}
.work-name::after {
  content: "";
  display: block;
  height: 1px;
  width: 7%;
  position: absolute;
  background-color: #000;
  right: 30%;
  top: 34px;
}

.mid-line-work{
  display:block;
  height: 1px;
  width:20%;
  margin-bottom: .75rem;
  margin-left: auto;
  margin-right: auto;
}

.job{
  width:100%;
}
.parent{
  overflow: hidden;
}

.date{
  font-family: 'Roboto', sans-serif;
  font-size:.75rem;
  font-weight: 300;
  letter-spacing: 4px;
  text-align: center;
  line-height: 175%;
  border-top: 1px solid rgba(110, 110, 110, .2);
}

.job-img{
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url('images/sidearm.png');
  background-position: center center;
  background-size: cover;
}
.job-2-img{
  background-image: url('images/cuse-fb.png');
  background-position: center center;
  background-size: cover;

}
.job-text{
  display:flex;
  flex-direction: column;
  padding-bottom: 5px;
}
.company{
  font-family: 'Cormorant Garamond', serif;
  font-size:2.5vw;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: left;
}
.company-fb{
  font-family: 'Cormorant Garamond', serif;
  font-size:1.8vw;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: left;
}
.underline{
  width:98%;
  height: 1px;
  background-color: rgba(0,0,0,.125);
}
.place{
  font-family: 'Roboto', sans-serif;
  font-size:.75rem;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 175%;
  color: #6e6e6e;
}
.content{
  width: 100%;
  margin-bottom: 10px;
  font-size: .85em;
}

/* Education Section */

.footer{
  background-color:white;
}


@media(max-width:992px){
  .patagonia{ height:650px;}
  .namib{ height:650px;}
  .lake{ height:650px;}
}
@media(max-width:768px){
  .navbar-nav {flex-direction: row;}
  .social {margin-left: 1rem;}
  .underbar a:after {width:10%;}
  .hero-name::before {display: none;}
  .hero-name::after {display: none;}
  .name::before {display: none;}
  .name::after {display: none;}
  .work-name::before {display: none;}
  .work-name::after {display: none;}
  .patagonia{ height:600px;background-image: url('images/patagonia-dark-fast.png');}
  .namib{ height:600px; background-image: url('images/Namib-dark-fast.png');}
  .lake{ height:600px; background-image: url('images/lake-dark-fast.png');}
  .job-text{order:3; height:100%;}
  .job-img{order:1;height: 50vh;}
  .job-2-img{order:1;height: 50vh;}
  .date{order:2; display:none; }
  .company{font-size:5.5vw; ;margin-top:10px; line-height: 120%; }
  .company-fb{font-size:5.5vw; ;margin-top:10px; line-height: 120%; }
  .date > p { display:none;}
  .place{margin-top:2px;}
  .number{display:none;height:0px;}
  .content{ order:2; margin-top: 10px;font-size: .9em}
  .edu-header{font-size: 6vw;}
}

@media(max-width:480px){
  .patagonia{ height:550px;}
  .namib{ height:550px;}
  .lake{ height:550px;}
  .roboto-hero {font-weight: 300;}
  .name {font-size: 3rem;}
  .roboto-about-1{font-size: 1.25rem;}
  .roboto-about-2{font-size: 0.75rem;}
  .roboto-about-3{font-size: 1rem;}
}
@media(max-width:420px){
  .underbar a:after {width:15%;}
}


@media(min-width:768px){
 .mid-line{display:none;}
 .mid-line-work{display:none;}
 .vertical-text {
  display: inline-block;
  transform: rotate(-90deg) translateX(-100%) translateY(-50%);
  transform-origin: 0 0;
  position: absolute;
  top: 8%;
  white-space: nowrap;
  }
  .number{
  font-family: 'Roboto', sans-serif;
  font-size:1.75rem;
  font-weight: 400;
  letter-spacing: 4px;
  margin-top:10px;
  color: #6e6e6e;
  }
  .content{
    min-height: 225px;
  }
  .job-text{border-top: 1px solid rgba(110, 110, 110, .2);}
  .border-bottom{
    border-top: 1px solid rgba(110, 110, 110, .2);
  }
  /*
  .job:hover .job-img {
    transition: all .5s linear;
    transform: scale(1.2);
  }*/


}

@media(min-width:850px){
  .hero-name::before {width: 9%;}
  .hero-name::after {width: 9%;}
}
@media(min-width:925px){
  .hero-name::before {left:21%;}
  .hero-name::after {right:21%;}
  .name::before {left:17%;}
  .name::after {right:17%;}
  .work-name::before {left:29%;}
  .work-name::after {right:29%;}
}
@media(min-width:992px){
  .name::before {left:23%;}
  .name::after {right:23%;}
  .work-name::before {left:34%;}
  .work-name::after {right:34%;}
  
}
@media(min-width:1000px){
  .hero-name::before {left:23%;}
  .hero-name::after {right:23%;}
  
}
@media(min-width:1100px){
  .hero-name::before {left:25%;}
  .hero-name::after {right:25%;}
}
@media(min-width:1200px){
  .hero-name::before {left:26.5%;}
  .hero-name::after {right:26.5%;}
  .name::before {left:26.5%;}
  .name::after {right:26.5%;}
  .work-name::before {left:35.5%;}
  .work-name::after {right:35.5%;}
}
